NEXT_PUBLIC_SUPABASE_URL=https://htrtpiqcpnsbkuelntzm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh0cnRwaXFjcG5zYmt1ZWxudHptIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4MTYzNDQsImV4cCI6MjA5MTM5MjM0NH0.YHTgsMhnUU0sjsYgL79r8qKfeMuEkD5PjgC_-JlO5qw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh0cnRwaXFjcG5zYmt1ZWxudHptIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTgxNjM0NCwiZXhwIjoyMDkxMzkyMzQ0fQ.FSPpmkoIkpgaK4jMm471JX9r6lFkv9a935jcJsWr9to